
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding-left: 50px;
}


h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 36px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #666;
}

h4 {
    margin-top: 30px;
    margin-bottom: 10px;
}


nav {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.nav {
    list-style: none;
    display: flex;
    gap: 30px;
    background-color: #a18caa;
    padding: 15px 20px;
    margin: 0; 
    
}

.nav li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 14px;
    border-radius: 5px;
    transition: 0.3s;
    
}

.nav li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
    padding-right: 50px;
}

ul, ol {
    margin-left: 40px;
}

mark {
    background-color: #f6a8fd;
}
